* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_logo{
    width: 250px;
    height: 250px;
 }

 header{
    height: 25vh;
    background-color: #010440;
    box-shadow: 0 0 1rem black;
    display: flex;
    justify-content: center;
    position: relative;
 }

 .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .container_geral {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    flex-wrap: wrap;
 }

 .container_geral a {
    text-decoration: none;
    cursor: pointer;
 }

 .logo_container {
    width: 150px;
    height: 150px;  
 }

 .login-contanier {
    box-sizing: border-box;
    color: #010440;
    background-color: white;
    width: 320px;
    height: 380px;
    padding: 20px;
    text-align: center;
 }

 #login-contanier_position1 {
    margin-left: 9%;
    margin-top: 13%;
    box-shadow: 0 0 1rem black;
 }

 #login-contanier_position1 img {
    margin-top: -15px;
 }

 #login-contanier_position2 {
    width: 340px;
    height: 450px;
    position: relative;
    box-shadow: 0 0 2rem black;
 }

 #login-contanier_position3 {
    margin-left: -9%;
    margin-top: 13%;
    box-shadow: 0 0 1rem black;
 }

 #login-contanier_position3 img {
    margin-top: -15px;
 }

 .btn_login{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #00008B;
    border: 1px solid #00008B;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
 }
 
 .btn_login:hover{
    background-color: white;
    color: #00008B;
 }
