*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_logo{
    width: 250px;
    height: 250px;
 }

 header{
    height: 25vh;
    background-color: #010440;
    box-shadow: 0 0 1rem black;
    display: flex;
    justify-content: center;
    position: relative;
 }

 .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .area_container {
    display: flex;
    justify-content: center;
 }

 .login_container {
   position: fixed;
   margin-top: 5vh;
   width: 650px;
   padding: 40px;
   background-color: #010440;
   box-shadow: 0 0 1rem black;
   border-radius: 15px;
 }

 .login_container h1{
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
   font-size: 30px;
 }

 .login_container .login_container-input {
   position: relative;
 }

 .login_container .login_container-input input {
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 20px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
 }

 .login_container .login_container-input label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 18px;
   color: #fff;
   pointer-events: none;
   transition: 0.5s;
 }

 .login_container-input label img {
  width: 17px;
  margin-left: 485px;
 }

 .login_container .login_container-input input:focus ~ label,
  .login_container .login_container-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8b80f9;
    font-size: 12px;
  }

  .novo_usuario {
   display: flex;
  }

  .novo_usuario h1 {
   margin-left: 140px;
   font-size: 35px;
  }

  .dados_responsavel {
    display: flex;
  }

  .dados_responsavel h1 {
    margin-left: 80px;
    font-size: 35px;
   }

  .login_container .novo_usuario img {
   width: 60px;
   height: 60px;
  }

  .login_container .dados_responsavel img {
    width: 60px;
    height: 60px;
   }

  .btn_cadastrar{
   width: 130px;
   height: 60px;
   font-size: 20px;
   background-color: #00008B;
   border: 1px solid #00008B;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   transition: 0.5s;
}

.btn_cadastrar:hover{
   background-color: white;
   color: #00008B;
}